

<footer class="bg-primary py-5 text-secondary">
  <div class="container">
    <div class="row border-bottom border-secondary">
      <div class="col-md-3">
        <img src="assets/images/footer/logo.png" class="w-100" alt="level up">
      </div>
      <div class="col-md-3">
        <ul>
          <li><a>{{'_Home' | translate}}    </a></li>
          <li><a>{{'_Events' | translate}}</a></li>
          <li><a>{{'_BookNow' | translate}}</a></li>
          <li><a>{{'_Membership' | translate}}</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <ul>
          <li><a>{{'_ContactUs' | translate}}</a></li>
          <li><a>{{'_AboutUs' | translate}}</a></li>
          <li><a>{{'_TermsConditions' | translate}}</a></li>
          <li><a>{{'_PrivacyPolicy' | translate}}</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <h6>{{'_SubscribeWithUs' | translate}}</h6>
        <div><input type="text"></div>
        <button class="mt-2 btn btn-primary border border-secondary">{{'_Subscribe' | translate}}</button>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-md-4">
        <span>Copyright 2020 All Right Reserved</span>
      </div>
      <div class="col-md-4 text-secondary">
        <i class="fa fa-facebook"></i>
        <i class="fa fa-instagram"></i>
        <i class="fa fa-twitter"></i>
        <i class="fa fa-whatsapp"></i>
      </div>
      <div class="col-md-4">
        <div><span >Tel: +971 554 571 319</span> <span class="mx-2">Fax: +971 554 571 319</span></div>
        <div><span>Email: support@levelup.com</span></div>
      </div>
    </div>
  </div>
</footer>
