<div class="m-auto py-5 border border-light bg-secondary position-relative login">
  <div class="text-center"><h4 class="mb-5 font-weight-normal text-white">{{'_ForgotPassword'| translate}}</h4></div>

  <form name="loginForm" [formGroup]="forgetForm" class="px-5 my-3">
    <mat-form-field appearance="legacy" class="w-100 ">
      <mat-label>{{'_Email'|  translate}}</mat-label>
      <input matInput placeholder="Email" formControlName="email" >
      <mat-icon matSuffix>alternate_email</mat-icon>
      <mat-error>
        <div *ngIf="f.email.invalid && (f.email.dirty || f.email.touched)"
             class="text-danger">
          <div *ngIf="f.email.errors.required">
            {{'_EmailRequired' | translate}}
          </div>
          <div *ngIf="f.email.errors.email">{{'_EmailNotValid' | translate}}</div>
        </div>
      </mat-error>
    </mat-form-field>
    <div class="text-center">
      <button mat-raised-button color="accent" class="btn btn-secondary text-white border-dash-primary w-50 mb-3 py-2" aria-label="LOG IN"
              (click)="onSubmit()"
              [disabled]="forgetForm.invalid">
        {{'_Submit' | translate}}
      </button>
    </div>
    <div class="text-center"><a style="cursor: pointer" routerLink="/auth/login">{{'_BackToLogin' | translate}}</a></div>

  </form>
</div>
