<div class="m-auto py-5 border bg-white border-light position-relative " [dir]="lang">
  <div class="text-center"><h4 class="mb-5 text-primary">{{'_ResetPassword'| translate}}</h4></div>
  <form name="loginForm" [formGroup]="resetPasswordForm" class="px-5 my-3">
    <mat-form-field class="w-100" >
      <mat-label>{{'_Password' | translate}}</mat-label>
      <input matInput type="password" formControlName="password">
      <mat-icon matSuffix class="secondary-text">vpn_key</mat-icon>
      <mat-error>
        <mat-error>

            <div *ngIf="f.password.errors.required">
              {{'_PasswordRequired' | translate}}
            </div>
            <div
              *ngIf="f.password.errors.minlength || f.password.errors.maxLength"> {{'_PasswordValidation' | translate}}</div>
        </mat-error>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="w-100" >
      <mat-label>{{'_ConfirmPassword' | translate}}</mat-label>
      <input matInput type="password" formControlName="confirmPassword">
      <mat-icon matSuffix class="secondary-text">vpn_key</mat-icon>
      <mat-error>

          <div *ngIf="f.confirmPassword.errors.required">
            {{'_ConfirmPasswordRequired' | translate}}
          </div>
          <div *ngIf="f.confirmPassword.errors.mustMatch"> {{'_PasswordMustMutch' | translate}}</div>
      </mat-error>

    </mat-form-field>
    <mat-form-field class="w-100" >
      <mat-label>{{'_VerificationCode' | translate}}</mat-label>
      <input matInput type="text" formControlName="otp" maxlength="4">
      <mat-error>
          <div *ngIf="f.otp.errors.required" class="text-danger">
            {{'_otpRequired'| translate}}
          </div>
      </mat-error>

    </mat-form-field>
    <div class="text-center">
      <button mat-raised-button color="accent" class="btn btn-primary w-50 mb-3 py-2 text-uppercase"
              aria-label="LOG IN" (click)="onSubmit()"
              [disabled]="resetPasswordForm.invalid">
        {{'_ResetPassword' | translate}}
      </button>
    </div>
    <div class="text-center"><a style="cursor: pointer" routerLink="/auth/login">{{'_BackToLogin' | translate}}</a></div>

  </form>

</div>
