@font-face {
  font-family: 'Cairo Regular';
  src: url('./fonts/CAIRO-REGULAR.TTF');
  src: url('./fonts/CAIRO-REGULAR.TTF') format('woff')
}

@font-face {
  font-family: 'Octin Regular';
  src: url('./fonts/OCTIN STENCIL RG.TTF');
  src: url('./fonts/OCTIN STENCIL RG.TTF') format('woff')
}

//
